:root {
    --font-primary: 'VT323', monospace;
    --color-background-start: #FADED2;
    --color-background-mid1: rgba(255, 170, 221, 0.93);
    --color-background-mid2: rgba(220, 151, 165, 0.96);
    --color-background-end: #55768C;
    --color-button: #55768C;
    --color-button-hover: #B83556;
    --color-text-primary: #FADED2;
    --overlay-bg-color: rgba(0, 0, 0, 0.60);
    --overlay-border-color: rgba(255, 255, 255, 0.15);
    --overlay-box-shadow-color: rgba(0, 0, 0, 0.3);
    --overlay-boder-color:rgba(255, 255, 255, 0.7);
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/fundo.png');
    background-size: contain;
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: var(--overlay-bg-color);
    backdrop-filter: blur(15px);
    width: 90%;
    height: auto;
    padding: 2rem 3rem 3rem 3rem;
    border-radius: 1rem;
    max-width: 600px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dashboard-header h1 {
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    font-size: 4rem;
    margin: 0;
}

.dashboard-header form, .dashboard-logo {
    width: 50%;
    cursor: pointer;
}

.logout-button {
    all: unset;
    display: flex;
    justify-content: flex-start;
}

.logout-button i {
    font-size: 3rem;
    color: #C75F77;
}

.dashboard-logo {
    display: flex;
    justify-content: flex-end;
}

.dashboard-logo img {
    justify-self: end;
    height: 5rem;
    width: auto;
}

.dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.dashboard-button-pu, .dashboard-button-pp {
    height: 40px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 20px 35px 20px;
    gap: 20px;
    border-radius: 10px;
    background-color: var(--color-button);
    border: none;
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--color-text-primary);
    cursor: pointer;
    transition: all 0.5s ease;
}

.dashboard-button-pu:hover, .dashboard-button-pp:hover {
    background-color: var(--color-button-hover);
    transform: translateY(-2);
}

.dashboard-button-pp img, .dashboard-button-pu img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

@media (max-width: 1300px) {
    .dashboard-overlay {
        padding: 15px 30px 50px 30px;
    }
}

@media (max-width: 768px) {

    body {
        background-size: contain;
    }

    .dashboard-overlay {
        padding: 15px 15px 50px 15px;
    }

    .dashboard-header {
        text-align: center;
    }
    .dashboard-header h1 {
        font-size: 4rem;
    }

    .dashboard-content {
        flex-direction: row;
    }

    .dashboard-button-pu, .dashboard-button-pp {
        width: 100%;
        padding: 25px 15px 25px 15px;
        font-size: 1.2rem;
    }

    .dashboard-header .logout-button img{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .dashboard-overlay {
        gap:0;
        padding: 25px 15px 40px 15px;
    }

    .dashboard-header .dashboard-logo {
        width: 25%;
    }

    .dashboard-content {
        display: flex;
        flex-direction: column;
    }

    .dashboard-header h1 {
        font-size: 3rem;
    }

    .dashboard-header .dashboard-logo{
        width: 18%;
        height: auto;
    }

    .dashboard-button-pu {
        justify-content: space-between;
    }

    .dashboard-button-pu, .dashboard-button-pp {
        padding: 30px 20px 30px 20px;
        font-size: 5vw;
    }
    .dashboard-header .logout-button img{
        width: 30px;
        height: 30px;
    }
}