:root {
    --font-primary: 'VT323', monospace;
    --color-background-start: #FADED2;
    --color-background-mid1: rgba(255, 170, 221, 0.93);
    --color-background-mid2: rgba(220, 151, 165, 0.96);
    --color-background-end: #55768C;
    --color-button: #55768C;
    --color-button-hover: #B83556;
    --color-text-primary: #FADED2;
    --overlay-bg-color: rgba(0, 0, 0, 0.60);
    --overlay-border-color: rgba(255, 255, 255, 0.15);
    --overlay-box-shadow-color: rgba(0, 0, 0, 0.3);
    --overlay-boder-color:rgba(255, 255, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/fundo.png');
    background-size: contain;
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    background-color: var(--overlay-bg-color);
    backdrop-filter: blur(15px);
    width: 90%;
    height: auto;
    padding: 3.5rem;
    border-radius: 1rem;
    max-width: 700px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.dashboard-header h1 {
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    font-size: 4rem;
}

.dashboard-back, .dashboard-logo {
    width: 50%;
}

.dashboard-logo {
    display: flex;
    justify-content: flex-end;
}

.dashboard-logo img {
    justify-self: end;
    height: 5rem;
    width: auto;
}

.back-button {
    all: unset;
    display: flex;
    justify-content: flex-start;
}

.back-button i {
    font-size: 3rem;
    color: #C75F77;
    cursor: pointer;
}

.dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.dashboard-buttons {
    text-decoration: none;
}

.dashboard-button-pu, .dashboard-button-pp {
    background-color: var(--color-button);
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
    gap: 1rem;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--color-text-primary);
    cursor: pointer;
    transition: all 0.5s ease;
}

.dashboard-button-pu:hover, .dashboard-button-pp:hover {
    background-color: var(--color-button-hover);
    transform: translateY(-2);
}

.dashboard-button-pp i, .dashboard-button-pu i {
    font-size: 2rem;
    justify-self: flex-end;
}

@media (max-width: 768px) {
    .dashboard-overlay {
        padding: 2.5rem;
        gap: 2rem;
    }

    .dashboard-header h1 {
        font-size: 3rem;
    }

    .dashboard-logo img{
        height: 4rem;
    }

    .dashboard-button-pu, .dashboard-button-pp {
        width: 100%;
        padding: 1rem 1.4rem;
        font-size: 1.2rem;
        gap: 0.8rem;
        max-width: 13rem;
    }

    .dashboard-button-pu{
        padding: 1rem 1rem 1rem 1.4rem;
    }
}

@media (max-width: 480px) {
    .dashboard-overlay {
        gap: 1rem;
        padding: 1.3rem;
    }

    .dashboard-header h1 {
        font-size: 2.3rem;
    }

    .dashboard-logo img{
        height: 3.3rem;
    }

    .back-button i{
        font-size: 2.5rem;
    }
    
    .dashboard-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .dashboard-buttons {
        width: 100%;
    }

    .dashboard-button-pu, .dashboard-button-pp {
        padding: 0.8rem 1em;
        max-width: none;
        text-align: center;
        text-justify: center;
        justify-content: space-between;
    }
    
    .dashboard-button-pu p, .dashboard-button-pp p {
        width: 100%;
    }
}