 * {
     /* border:1px solid red; */
     margin: 0;
     padding: 0;
 }

 footer {
     background-color: #55768C;
     width: 100%;
     font-family: 'VT323', monospace;
}
    
.FooterPrincipal {
    display: flex;
     justify-content: center;
     align-items: center;
     /* flex-direction: row; */
     /* padding: 20px 0; */
     color: #faded2;
     padding: 0 50px;
     min-height: 200px;
     height: auto;
 }

 .LogoBitsToca.active-content {
     overflow-y: auto;
     /* padding-top: 20px; */
     line-height: 1.5;
     display: flex;
     align-items: right;
 }

 /* .LogoBitsToca.active-content p {
     font-size: 0.7rem;
     margin-bottom: 0.3rem;
 } */

 /* .LogoBitsToca.active-content.centralizado {
     justify-content: center;
     text-align: center;
 }

 .LogoBitsToca.active-content.valores {
     justify-content: center;
     text-align: center;
 } */

 /* .LogoBitsToca.active-content strong {
     color: #B83556;
 } */

 .LogoBitsToca img {
     width: 7em;
     height: auto;
 }

 .MVV {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     color: #Faded2;
     padding: 10px 50px;
     border-top: 2px solid rgba(51, 51, 51, 0.35);
     font-size: 1.5rem;
 }

 .Logos {
     display: flex;
     flex-direction: row;
     gap: 10px;
 }

 .Logos img {
     width: 30px;
     height: auto;
 }

.MVVBUTTON {
    width: 33%;
 }

 .MVVBUTTON p {
     cursor: pointer;
 }

 .Redes-Sociais h2 {
     font-family: VT323, monospace;
     font-size: 2.0rem;
     text-align: center;
 }

 .Contato h2 {
     justify-content: center;
     font-family: VT323, monospace;
     font-size: 2.0rem;
     text-align: center;
 }

 .Contato p {
     display: flex;
     align-items: center;
     gap: 10px;
     font-size: 1.5rem;
     text-wrap: nowrap;
 }

 .LogoBitsToca {
    width: 60rem;
    max-width: 100%;
    /* margin-left: 170px; */
    font-size: 1.2rem;
    text-align: center;
    justify-items: center;
 }

 .Redes-Sociais {
     display: flex;
     flex-direction: column;
     gap: 1vw;
    justify-self: left;
 }

 .Contato {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    justify-self: right;
 }

 .space {
    width: 50%;
 }

 .missao {
     display: none;
 }

 .visao {
     display: none;
 }

 .valores {
     display: none;
 }

 #missao,
 #visao,
 #valores {
     font-family: 'VT323', monospace;
     font-size: 1.5rem;
 }

 #visao {
    text-align: center;
 }
 #valores {
    text-align: right;
 }

 @media screen and (max-width: 1300px) {
     .FooterPrincipal {
         /* padding: 20px 30px; */
     }

    .LogoBitsToca {
        width: 30rem;
    }

     .MVV {
         padding: 10px 30px;
     }

     .Contato p {
         font-size: 1.3rem;
     }
 }

 @media screen and (max-width: 934px) {
     /* .FooterPrincipal {
         padding: 20px 20px;
        min-height: fit-content;
     } */

    .LogoBitsToca {
        width: 50%;
        padding: 5px;
    }

     .MVV {
         padding: 10px 20px;
     }

     .Contato p {
         font-size: 1.0rem;
     }
 }

 @media screen and (max-width: 768px) {
     .FooterPrincipal {
         flex-direction: column;
         align-items: center;
         text-align: center;
         gap: 20px;
     }

     .LogoBitsToca {
         justify-content: center;
         width: 100%;
         padding: 0;
     }

     .space {
        width: 100%;
     }
     
    .Contato, .Redes-Sociais {
        justify-self: center;
    }

     .MVV {
         gap: 15px;
         padding: 10px 20px;
     }

     .Redes-Sociais {
         padding-top: 30px;
         gap: 30px;
     }

     .Logos img {
         height: 40px;
         width: 37px;
     }
 }

 @media screen and (max-width: 480px) {
     .FooterPrincipal {
         padding: 15px;
     }

     .MVV {
         padding: 10px 15px;
         font-size: 1.2rem;
     }

     .Redes-Sociais h2,
     .Contato h2 {
         font-size: 2.0rem;
     }

     .Contato p {
         font-size: 1.2rem;
     }
 }