* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#faded2, #dc97a5, #55768c);
    padding: 5vh 8vw;
}

.content {
    background-color: #ffffff44;
    border-radius: 15px;
    padding: 8vh 8vw;
    box-shadow: 4px 6px 1vh rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.button-back {
    background: none;
    border: none;
    font-size: 3vw;
    cursor: pointer;
    color: #55768c;

    position: absolute;
    top: 8vh;
    left: 10vw;
}
.button-back:hover {
    color: #b83556;
}

.content h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 600;
    text-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.2);
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.user {
    display: flex;
    align-items: center;
    background-color: #55768c;
    border-radius: 2vh;
    height: 5vh;
    padding: 1vh;
    gap: 1vh;
}

.user img {
    height: 100%;
    border-radius: 50%;
}

.user p {
    color: white;
    font-size: 2vh;
}

.date {
    font-size: 2.5vh;
    color: rgba(0, 0, 0, 0.6);
}

.post-image {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 2vh;
}

.post-description {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 2.7vh;
    font-weight: 600;
    padding-bottom: 3vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.likes-content {
    display: flex;
    align-items: end;
    gap: 0.3vw;
    font-family: 'Press Start 2P', cursive;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    width: fit-content;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
    height: 3vh;
}

.likes-icon {
    display: flex;
    width: 1.7vw;
    justify-content: center;
}
.likes-icon i {
    font-size: 1.3vw;
}

.likes-text {
    display: flex;
    align-items: center;
    font-size: 1vw;
    gap: 0.3vw;
}

.likes-content:hover i {
    font-size: 1.5vw;
}

.likes-content.active {
    color: #b83556;
}