* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: linear-gradient(#faded2, #dc97a5, #55768c);
    padding: 5vh 8vw;
    min-height: 100vh;
}

.navbar, .navbar *,
footer, footer * {
    box-sizing: content-box;
}

.content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 8vh 8vw;
    box-shadow: 4px 6px 1vh rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.button-back {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: #55768c;

    position: absolute;
    top: 1rem;
    left: 1rem;
}
.button-back:hover {
    color: #b83556;
}

.content h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.user {
    display: flex;
    align-items: center;
    background-color: #55768c;
    border-radius: 1rem;
    height: 3.6rem;
    padding: 0.5rem;
    gap: 0.5rem;
}

.user img {
    height: 100%;
    border-radius: 50%;
}

.user p {
    color: white;
    font-size: 0.8rem;
}

.date {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.post-image {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 1rem;
}

.post-description {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    text-indent: 3rem;
}

.post-description p {
    margin-top: 1rem;
    line-height: 1.3;
}

.rating-content {
    display: flex;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.likes-content {
    display: flex;
    align-items: end;
    gap: 0.3rem;
    cursor: pointer;
    width: fit-content;
    height: 1.5rem;
    text-decoration: none;
    color: inherit;
}

.likes-icon {
    display: flex;
    width: 1.7rem;
    justify-content: center;
}
.likes-icon i {
    font-size: 1.3rem;
}

.likes-text {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
}

.likes-content:hover i {
    font-size: 1.5rem;
}

.likes-content.active {
    color: #b83556;
}

.stars-content {
    display: flex;
    align-items: end;
    gap: 0.5rem;
    height: 1.5rem;
    width: fit-content;
    font-size: 1.5rem;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.stars-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.stars-icons {
    display: flex;
    gap: 1rem;
}

.star-fill {
    color: #f5cd69;
}
.star-empty {
    color: #d9d9d9;
}

.comments-section {
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.1); */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);

    /* border: 2px solid rgba(85, 118, 140, 0.6); */
    /* border: 2px solid rgba(184, 53, 86, 0.6); */
    /* border-top: rgba(255, 255, 255, 0.3) solid 2px;
    border-left: rgba(255, 255, 255, 0.3) solid 2px;
    border-right: rgba(0, 0, 0, 0.2) solid 2px;
    border-bottom: rgba(0, 0, 0, 0.2) solid 2px; */
}

.comments-section h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4rem;
    margin-left: 0.3rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.comment-card {
    border: 1px solid rgba(85, 118, 140, 0.6);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.comment-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-meta {
    display: flex;
    flex-direction: column;
}

.comment-author {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: #55768c;
}

.comment-date {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #999;
}

.comment-actions {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.comment-actions button {
    font-size: 1rem;
    background: none;
    border: none;
}

.comment-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.no-comments {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    /* font-style: italic; */
    font-weight: 600;
    margin-left: 0.3rem;
}

.new-comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.new-comment-form p {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    margin-left: 0.3rem;
    font-weight: 100;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.new-comment-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(85, 118, 140, 0.6);
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto', sans-serif;
    min-height: 80px;
    resize: vertical;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.new-comment-form button {
    background: #55768c;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.new-comment-form button:hover {
    background: #b83556;
}

.login-to-comment {
    text-align: center;
    padding-top: 1rem;
    border-top: 2px solid rgba(85, 118, 140, 0.6);
}

.login-to-comment a {
    color: #b83556;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

@media (max-width: 1300px) {
    main {
        padding: 5vh 4vw;
    }

    .content {
        padding: 4rem 2rem 2rem 2rem;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .stars-content {
        font-size: 1.3rem;
    }

    .stars-icons {
        display: flex;
        gap: 0.5rem;
    }
}

@media (max-width: 760px) {
    .content {
        padding: 6vh 6vw;
    }

    .content h1 {
        font-size: 2rem;
    }

    .user {
        height: 3rem;
    }

    .user p {
        font-size: 0.6rem;
    }

    .date {
        font-size: 0.8rem;
    }

    .likes-icon i {
        font-size: 1.3rem;
    }

    .likes-text , .stars-text {
        font-size: 0.9rem;
    }

    .stars-content {
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
    }
    
    .stars-icons {
        gap: 1.2rem;
    }
}

@media (max-width: 480px) {
    main {
        padding: 3vh 3vw;
    }
    
    .content {
        padding: 5vh 5vw;
        gap: 1rem;
    }

    .post-description {
        padding-bottom: 1rem;
    }

    .post-description p:first-child {
        margin-top: 0;
    }

    .button-back {
        display: none;
    }

    .post-info {
        flex-direction: column;
        gap: 1rem;
    }

    .rating-content {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }

    .likes-text, .stars-text {
        font-size: 0.9rem;
    }

    .stars-content {
        align-items: start;
        height: auto;
        padding: 0 0.5rem;
    }
    
    .stars-icons {
        gap: 1rem;
    }

    .date {
        display: flex;
        gap: 0.5rem;
    }

    .comments-section h3 {
        font-size: 1rem;
        text-align: center;
    }

    .comments-section p {
        text-align: center;
    }

    .new-comment-form form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .new-comment-form button {
        width: fit-content;
        align-self: center; 
    }
}