* {
    /* border:1px solid red; */
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "inter", sans-serif;
    font-weight: 500;
}

body {
    background: linear-gradient(#55768C, #2B3B46);
    padding: 50px 100px;
    height: 100vh;
}

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "nunito", sans-serif;
}

.logo {
    display: flex;
    align-items: right;
}

.logo img {
    width: 150px;
    height: auto;
}

.titulo {
    text-align: center;
    padding: 0px 550px 0px 0px;
    color: #DC97A5;
    font-size: 2.0rem;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pesquisa {
    width: 50%;
    height: auto;
}

#pesquisa img {
    width: 100%;
    height: auto;
}

.botao-post {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    background-color: #DC97A5;
    padding: 30px 30px;
    border-radius: 25px;
    margin-bottom: 10px;

}

.tabela {
    width: auto;
    background-color: #DC97A5;
    border-radius: 25px;
    justify-items: center;
    height: 100%;
    font-size: 1.5rem;
}

.tabela table {
    flex-direction: column;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    border-collapse: collapse;
    padding: 100px;
}

th,
td {
    border: none;
    border-bottom: 2px solid #DC97A5;
    padding: 25px 5px;
}

thead {
    width: 100%;
    text-align: left;

}

tfoot td {
    border: none;
    width: min-content;
    text-align: center;
}

tbody {
    background-color: #ffff;
}

.açoes button {
    all: unset;
    font-size: 1.5rem;
    padding: 0px 30p;

}

.açoes {
    width: 100px;
}

.items {
    padding: 30px;
}

.header {
    padding: 20px;
}

.botao_foot1 {
    all: unset;
}

.botao_foot {
    all: unset;
}

th {
  padding: 16px 30px;
}

