* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: linear-gradient(#55768C, #2B3B46);
    padding: 5vh 10vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.container {
    min-width: 70%;
    min-height: 70%;
    max-width: 90vw;
}

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "nunito", sans-serif;
    margin: 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.logo img {
    width: 130px;
    height: auto;
}

.titulo {
    text-align: left;
    color: #DC97A5;
    font-size: 2.0rem;
    width: fit-content;
    text-wrap: nowrap;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
}

.espaço {
    width: 50%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    margin: 1rem 0;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-self: start;
    background-color: #ffff;
    height: 2.2rem;
    width: 50%;
    padding: 0.5rem;
    border-radius: 25px;
    gap: 10px;
}

.barra-pesquisa img {
    height: 100%;
    width: auto;
}

#pesquisa {
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
}

.botao-user {
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
    background-color: #DC97A5;
    padding: 1.3rem;
    border-radius: 1rem;
    font-weight: 500;
    transition: 0.3s ease-out;
}

.tabela {
    width: auto;
    background-color: #DC97A5;
    border-radius: 1rem;
    height: 100%;
    font-size: 1.2rem;
    margin: 1rem 0;
    overflow-x: auto;
}

.tabela table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th,
td {
    border: none;
    padding: 1.3rem 1.5rem;
}

tbody tr {
    border-top: 3px solid #DC97A5;
}

th {
    font-weight: 500;
}

thead {
    width: 100%;
    text-align: left;

}

tfoot td {
    border: none;
    width: min-content;
    text-align: center;
}

tbody {
    background-color: #ffffff;
}

.btn-primary {
    all: unset;
    font-size: 1.5rem;
    transition: 0.3s ease-out;
}

.btn-primary:hover {
    font-size: 2.0rem;
    transition: 0.3s ease-in;
}

.button-container {
    display: flex;
    justify-content: center;
    height: 2.0rem;
    width: 2.0rem;
    align-items: center;
}

.açoes div {
    display: flex;
    align-items: row;
    gap: 0.7rem;
}

.items {
    width: 33.33%;
}

/* botao paginação */
.botao_foot1 {
    all: unset;
    transition: 0.3s ease-out;
}

.botao_foot1:hover {
    font-size: 2.0rem;
    transition: 0.3s ease-in;
}

/* setinha paginação*/
.botao_foot {
    all: unset;
}

.action {
    text-align: center;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.botao-user:hover {
    font-size: 1.5rem;
    transition: 0.3s ease-in;
}

.figurinha {
    position: absolute;
    width: 4.5rem;
    height: auto;
}

.figurinha:hover {
    animation: figurinha 1s linear;
    animation-iteration-count: infinite;
}

@keyframes figurinha {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#cuphead {
    top: 48.5rem;
    left: 10rem;
}

#ninja {
    width: 5.3rem;
    top: 48.5rem;
    right: 10rem;
}

@media (max-width: 1300px) {
    main {
        padding: 5vh 10vw;
    }

    .cabeçalho,
    .botoes,
    .tabela {
        margin: 2rem 0;
    }

    .cabeçalho {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .logo {
        width: fit-content;
    }

    .logo img {
        width: 160px;
    }

    .espaço {
        display: none;
    }
}

@media (max-width: 768px) {
    main {
        padding: 5vh 5vw;
    }

    .logo img {
        width: 120px;
    }

    .titulo {
        text-align: center;
        font-size: 1.5rem;
    }

    .botoes {
        flex-direction: column-reverse;
        gap: 2rem;
        height: auto;
    }

    .barra-pesquisa {
        height: 2.5rem;
        gap: 15px;
        width: 100%;
    }

    #pesquisa {
        font-size: 1.3rem;
    }

    .botao-user {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .titulo {
        text-wrap: wrap;
        font-size: 1.8rem;
        max-width: 15rem;
    }
}