* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    background: linear-gradient(#55768C, #2B3B46);
    padding: 50px 100px;
    height: 100%;
}

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "nunito", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
}

.logo img {
    width: 130px;
    height: auto;
}

.titulo {
    text-align: left;
    color: #DC97A5;
    font-size: 2.0rem;
    width: fit-content;
    text-wrap: nowrap;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
}

.espaço {
    width: 50%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-self: start;
    background-color: #ffff;
    height: 1.5rem;
    width: 50%;
    padding: 0.5rem;
    border-radius: 25px;
    gap: 10px;
}

.barra-pesquisa img {
    height: 100%;
    width: auto;
}

#pesquisa {
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
}

.botao-user {
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
    background-color: #DC97A5;
    padding: 1.3rem;
    border-radius: 1rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.tabela {
    width: auto;
    background-color: #DC97A5;
    border-radius: 25px;
    justify-items: center;
    height: 100%;
    font-size: 1.5rem;
}

.tabela table {
    flex-direction: column;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    border-collapse: collapse;
    padding: 100px;
}

th,
td {
    border: none;
    border-bottom: 3px solid #DC97A5;
    padding: 25px 30px;
}

thead {
    width: 100%;
    text-align: left;

}

tfoot td {
    border: none;
    width: min-content;
    text-align: center;
}

tbody {
    background-color: #ffff;
}

.açoes button {
    all: unset;
    font-size: 1.5rem;
    padding: 0px 30p;

}

.açoes :hover {
    font-size: 2.0rem;
}

.button-container {
    display: flex;
    justify-content: center;
    height: 2.0rem;
    width: 2.0rem;
    align-items: center;
}

.açoes {
    width: 100px;
}

.açoes div {
    display: flex;
    align-items: row;
    gap: 15px;
}

.items {
    padding: 30px;
}

.header {
    padding: 20px;
}

/* botao paginação */
.botao_foot1 {
    all: unset;
    font-size: 1.5rem;
}

/* setinha paginação*/
.botao_foot {
    all: unset;
}

th {
    padding: 16px -20px;
}

.action {
    text-align: center;
}

.foot{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botao_foot1:hover
{
    font-size: 2.0rem;
}

.botao-user:hover{
    font-size: 1.5rem;
}

