* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/fundo.png');
    background-size: contain;
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(15px);
    width: 80%;
    height: auto;
    padding: 2rem 2rem 2.8rem 2rem;
    border-radius: 1rem;
    max-width: 600px;
}

.login-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-back,
.space {
    width: 50%;
}

.button-back i {
    color: #C75F77;
    font-size: 2.8rem;
    margin: 0.1rem;
    cursor: pointer;
}

.button-back i:hover {
    margin: 0;
    font-size: 3rem;
}

.LogoBitsToca img {
    margin-top: 0.8rem;
    width: 10em;
    height: auto;
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 5.0rem;
    color: #FADED2  ;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
}

.input-content,
.button-content {
    background-color: #A9B0C2;
    border: none;
    padding: 1em;
    border-radius: 16px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    outline: none;
    font-weight: 800;

}

.button-content {
    background-color: #B83556;
}

.senha,
.email,
.login-button {
    background-color: transparent;
    border: none;
    width: 100%;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    outline: none;
}

form input::placeholder {
    color: #55768C;
}

#togglePassword {
    color: #55768C;
    font-size: 16px;
    cursor: pointer;
}

.login-button {
    margin: -0.5rem;
    font-size: 2.5rem;
    color: #FADED2;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.05);
}

.mensagem {
    font-family: 'VT323', monospace;
    color: #B83556;
    font-size: 2rem;
}

@media (max-width: 1300px) {
    .input-content,
    .button-content {
        width: 65%;
    }

    .email,
    .senha {
        font-size: 1.3rem;
    }

    .login-button {
        font-size: 2.2rem;
    }

}

@media (max-width: 768px) {
    .input-content,
    .button-content {
        width: 80%;
    }
    
    h2 {
        font-size: 4.5rem;
    }

    .mensagem {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .login-overlay {
        padding: 1rem 1rem 1.5rem 1rem;
    }

    .input-content,
    .button-content {
        width: 90%;
    }

    h2 {
        font-size: 3rem;
    }

    .LogoBitsToca img {
        margin-top: 0.5rem;
        width: 8em;
    }
}