* {
    margin: 0;
    padding: 0;
} 

header{
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55768c;
    height: auto;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1000;
}

.logo{
    height: 4rem;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu-itens {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    height: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b83556;
    height: 1.2rem;
    width: auto;
    border-radius: 1rem;
    padding: 0.7rem 0.8rem;
    gap: 0.5rem;

    text-decoration: none;
    color: #faded2;
    font-size: 1rem;
    font-family: 'Nunito';
    font-weight: 800;
    text-align: center;

    transition: 0.3s;
}

.nav-link i {
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #faded2;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #faded2;
    color: #b83556;
    transition: 0.3s;
}

.nav-link:hover i {
    color: #b83556;
    transition: 0.3s;
}

.nav-link-user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b83556;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    padding: 0.2rem;
    
    /* text-decoration: none;
    color: #faded2;
    font-family: 'Nunito';
    font-weight: 800;
    text-align: center; */
    
    transition: 0.3s;
}

.nav-link-user img {
    /* height: 100%;
    width: auto;
    border-radius: 50%; */
    display: none;
}

.logout-content {
    /* display: none; */
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    /* gap: 0.3rem; */
    
    /* font-size: 0.9rem; */
    
    /* align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #faded2;
    transition: 0.3s; */
}

/* .nav-link-user:hover img {
    display: none;
} */

/* .logout-content:hover {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #faded2;
    transition: 0.3s;
} */

.menu-hamburger {
    display: none;
    cursor: pointer;
    padding: 1vh 0;
    align-items: center;
    justify-content: center;
}

.menu-hamburger i {
    font-size: 3rem;
    color: #b83556;
    transition: 0.3s;
}

.menu-hamburger i:hover {
    color: #faded2;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .menu-hamburger {
        display: flex;
    }
    
    .menu-itens {
        position: absolute;
        top: -25rem;
        left: 0;
        background-color: #55768c;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        height: fit-content;
        width: 40vw;
        padding: 1.2rem 30vw;
        z-index: 1001;
        transition: top 0.3s ease-out;
    }
    
    .nav-item {
        width: 100%;
    }
    
    .nav-link {
        justify-content: space-between;
        border-radius: 2rem;
        font-size: 1.3rem;
        padding: 1rem 1.2rem;
    }
    
    .nav-link div {
        width: 100%;
        justify-content: center;
    }
    
    .nav-link i {
        font-size: 1.7rem;
    }
    
    .menu-itens.active {
        top: 5.5rem;
        transition: top 0.3s ease-in;
    }
}

@media (max-width: 480px) {
    .menu-itens {
        width: 60vw;
        padding: 1.2rem 20vw;
    }
}