* {
    margin: 0;
    padding: 0;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55768c;
    height: auto;
    padding: 1.4vh 5vh;
}

.logo{
    height: 9.6vh;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3vh;
    height: auto;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    width: auto;
    background-color: #b83556;
    padding: 1.5vh 2.5vh;
    border-radius: 2vh;

    text-decoration: none;
    color: #faded2;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    text-align: center;
}

.login, .home {
    font-size: 0%;
    padding: 1.5vh 2vh;
}

.login img, .home img {
    height: 150%;
    width: auto;
}

.link:hover {
    background-color: #faded2;
    color: #b83556;
    transition: 0.3s;
}

.login:hover img {
    content: url("../assets/login-B83556.png");
}

.home:hover img {
    content: url("../assets/home-B83556.png");
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 4vh;
    height: 0.5vh;
    margin: 0.8vh 0;
    background-color: #b83556;
}

.hamburger:hover .bar {
    background-color: #faded2;
    /* transition: 0.2s; */
}

@media (max-width: 1300px) {
    .hamburger {
        display: block;
        padding: 1vh 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(1.3vh) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-1.3vh) rotate(-45deg);
    }

    .menu-container {
        display: flex;
        align-items: end;
        flex-direction: column;
        padding: 1vh 0;
    }

    .menu {
        display: none;
        background-color: #55768c;
        flex-direction: column;
        align-items: center;
        padding: 1vh 0;
        gap: 2vh;
    }

    .menu li {
        width: 100%;
    }

    .link {
        border-radius: 5vh;
    }
    
    .login, .home {
        font-size: 2vh;
    }

    .login img, .home img {
        height: 0%;
        width: auto;
    }

    .menu.active {
        display: flex;
    }
}
    
@media (max-width: 780px) {
    .link {
        font-size: 3vw;
        height: 4vw;
        padding: 1.5vw 3.5vw;
    }

    .login, .home {
        font-size: 3vw;
    }
}