* {
    margin: 0;
    padding: 0;
} 

header{
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55768c;
    height: auto;
    padding: 1.4vh 5vh;
}

.logo{
    height: 9.6vh;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu-itens {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3vh;
    height: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b83556;
    height: 2.5vh;
    width: auto;
    border-radius: 2vh;
    padding: 1.5vh 2vh;
    gap: 1vh;

    text-decoration: none;
    color: #faded2;
    font-size: 2vh;
    font-family: 'Nunito';
    font-weight: 800;
    text-align: center;

    transition: 0.3s;
}

.nav-link i {
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    color: #faded2;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #faded2;
    color: #b83556;
    transition: 0.3s;
}

.nav-link:hover i {
    color: #b83556;
    transition: 0.3s;
}

.menu-hamburger {
    display: none;
    cursor: pointer;
    padding: 1vh 0;
    align-items: center;
    justify-content: center;
}

.menu-hamburger i {
    font-size: 6.5vw;
    color: #b83556;
    transition: 0.3s;
}

.menu-hamburger i:hover {
    color: #faded2;
    transition: 0.3s;
}

@media (max-width: 1300px) {
    .menu-itens {
        gap: 2vw;
    }

    .navbar {
        padding: 1.4vh 3.5vw;
    }

    .nav-link {
        padding: 1.5vw 1.5vw;
        height: 3vw;
        max-height: 2.5vh;
        font-size: 2vw;
        gap: 1vw;
        border-radius: 2vw;
    }

    .nav-link i {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .menu-hamburger {
        display: flex;
    }

    .menu-container {
        display: flex;
        align-items: end;
        flex-direction: column;
        padding: 1vh 2vw;
        /* width: 50%; */
    }
    
    .menu-itens {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 2.5vw;
        height: fit-content;
        width: 100%;
    }

    .nav-item {
        width: 100%;
    }
    
    .nav-link {
        justify-content: space-between;
        border-radius: 5vh;
        font-size: 3.5vw;
        height: 4.5vw;
        padding: 1.5vw 3vw;
        gap: 2vw;
    }

    .nav-link div {
        width: 100%;
        justify-content: center;
    }
    
    .nav-link i {
        font-size: 5vw;
    }

    .menu-itens.active {
        display: flex;
    }
}

@media (max-width: 480px) {
    .logo{
        height: 20vw;
    }

    .menu-hamburger i {
        font-size: 8vw;
    }
}
