* {
    margin: 0;
    padding: 0;
} 

header{
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55768c;
    height: auto;
    padding: 1.4vh 5vh;
}

.logo{
    height: 9.6vh;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu-itens {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3vh;
    height: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    width: auto;
    background-color: #b83556;
    padding: 1.5vh 2.5vh;
    border-radius: 2vh;

    text-decoration: none;
    color: #faded2;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    text-align: center;
}

.login, .home {
    font-size: 0%;
    padding: 1.5vh 2vh;
}

.login i, .home i {
    font-size: 3vh;
    color: #faded2;
}

.nav-link:hover {
    background-color: #faded2;
    color: #b83556;
}

.login:hover i {
    color: #b83556;
}

.home:hover i {
    color: #b83556;
}

.menu-hamburger {
    display: none;
    cursor: pointer;
    padding: 1vh 0;
    align-items: center;
    justify-content: center;
}

.menu-hamburger i {
    font-size: 5vh;
    color: #b83556;
}

.menu-hamburger i:hover {
    color: #faded2;
}

@media (max-width: 1300px) {
    .menu-itens {
        gap: 2vw;
    }

    .navbar {
        padding: 1.4vh 3.5vw;
    }
}

@media (max-width: 768px) {
    .menu-hamburger {
        display: flex;
    }

    .menu-container {
        display: flex;
        align-items: end;
        flex-direction: column;
        padding: 1vh 0;
        width: 50%;
    }
    
    .menu-itens {
        display: none;
        background-color: #55768c;
        flex-direction: column;
        align-items: center;
        padding: 1vh 0;
        gap: 2vh;
        width: 100%;
    }

    .nav-item {
        width: 100%;
    }
    
    .nav-link {
        border-radius: 5vh;
        font-size: 3vw;
        height: 4vw;
        padding: 1.5vw 3.5vw;
    }
    
    .login, .home {
        font-size: 3vw;
    }

    .login i, .home i {
        font-size: 0%;
    }

    .menu-itens.active {
        display: flex;
    }
}

@media (max-width: 480px) {
    .logo{
        height: 20vw;
    }

    .menu-hamburger i {
        font-size: 8vw;
    }
}
