*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg,
    rgba(252, 222, 210,1) 22%,
    rgba(255,170,221,0.95) 43%,
    rgba(220,151,165,0.96) 75%,
    rgba(85,118,147,1) 100%) no-repeat;
    background-size: cover;

}

#título-pagina-post {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 65px;
    width: fit-content;
    height: fit-content;
    background-image: linear-gradient(to right,   
                                rgba(0, 0, 0, 1) 16%, 
                                rgba(184, 53, 86, 1)43%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 50px;
}


#filtro-pesquisa {
    display: flex;
    align-items: center;
    gap: 135px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

#filtro {
    height: fit-content;
}

button.botão-filtro {
    height: fit-content;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: none;
    padding: 10px 12px;
}

#filtro-critica:hover,
#filtro-analise:hover,
#filtro-review:hover {
    background-color: #55768C;
    cursor: pointer;
}

button#filtro-analise {
    background-color: rgba(184, 53, 86, 1);
}

button#filtro-review {
    background-color: rgba(184, 53, 86, 0.75);
}

button#filtro-critica {
    background-color: rgba(220, 151, 165, 1);
}

#barra-pesquisa {
    display: flex;
    width: 719px;
    height: 100px;
    justify-content: center;
    align-items: center;
    overflow: hidden; 

}

input[type="text"] {
    padding-left: 40px;
    width: 100%;
    height: 47.01px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.25);

}

#barra-pesquisa img#fliperama-icon {
    width: 87px;
    left: -52px;
    margin: -40px;
    position:relative;

} 

#barra-pesquisa img#lupa-icon {
    width: 25px;
    height: 25px;
    left: -680px;
    position: relative;

}

#posteres {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center; 
    justify-content: center;   
    height: fit-content;
    max-width: 50vw;
    gap: 30px;
    margin: 10 auto;
    padding-top: 20px;
    padding-bottom: 50px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 570px;
}

.texto-card {
    background-color: rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}


#posteres .card #heron-section{
    width: 350px;
    height: 350px;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

#posteres .card #heron-section img{
    width: 350px;
    height: 350px;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);


}

#titulo-card {
    height: fit-content;
    font-family: 'VT323', monospace;
    color: #FADED2;
    font-size: 45px;
    padding: 10px;
}

#texto-card {
    font-family: 'Inter', sans-serif;
    height: fit-content;
    color: #FADED2;
    padding-left: 30px;
    background: transparent;
    backdrop-filter: blur(10px);
}

.botão-paginacao {
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.botão-paginacao img {
    width: 30px;
    height: 30px;
}

button#atual{
    padding: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 16px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}


@media screen and (max-width: 1139px) {
    #filtro-pesquisa {
        gap: 80px;
    }
}

@media screen and (max-width: 1123px) {
    #filtro-pesquisa {
        flex-direction: column;
        gap: 30px;
    }
}



@media screen and (max-width: 813px) {
    #filtro-pesquisa {
        flex-direction: column;

    }

}

@media screen and (max-width: 812px) {
    #barra-pesquisa img#lupa-icon{
        left: -710px;
    }

        #barra-pesquisa {
        width: 750px;

    }
}

@media screen and (max-width: 768px) {
    input[type="text"] {
        width: 90%;
    }

    #barra-pesquisa img#lupa-icon{
        left: -670px;
    }
    
    #filtro-pesquisa{
        margin-right: 20px;
    }
}


@media screen and (max-width: 1125px){
    #posteres {
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px;

}        
}

@media screen and (max-width: 757px){
    #posteres {
        grid-template-columns: repeat(1, 1fr);
        max-width: 900px;

    }   
    
    #barra-pesquisa {
        width: 670px;
    }

    #barra-pesquisa img#lupa-icon{
        left: -600px;
    }
}


@media screen and (max-width: 668px){
    
    #barra-pesquisa {
        width: 450px;
    }

    #barra-pesquisa img#lupa-icon{
        left: -400px;
    }
}


@media screen and (max-width: 337px){
    
    #barra-pesquisa {
        width: 100%;
        padding-left: 0px;
    }

    #filtro-pesquisa {
        overflow-x: hidden;
    }

    #barra-pesquisa img#lupa-icon{
        left: -200px;
    }
}

@media screen and (max-width: 494px) {
    #barra-pesquisa {
        width: 320px;
    }

    #título-pagina-post {
        font-size: 40px;
    }

    #barra-pesquisa img#lupa-icon {
        left: -280px;
    }
}

@media screen and (max-width: 494px) {
    #barra-pesquisa {
        padding-left: 20px;
    }
}

@media screen and (max-width: 380px) {
    .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 470px;
}

.texto-card {
    background-color: rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}


#posteres .card #heron-section{
    width: 250px;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

#posteres .card #heron-section img{
    width: 250px;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);


}

#titulo-card {
    height: fit-content;
    font-family: 'VT323', monospace;
    color: #FADED2;
    font-size: 35px;
    padding: 5px;
}

#texto-card {
    font-family: 'Inter', sans-serif;
    height: fit-content;
    color: #FADED2;
    padding-left: 30px;
    background: transparent;
    backdrop-filter: blur(10px);
}
}