main {    
    margin-left: 102px;
}

#sidebar {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: #D1798D;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    transition: all .5s;
    width: 102px;
    z-index: 2;
}

#sidebar_content {
    padding: 50px 16px;
    width: 100%;
}

#user {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px;
    text-align: center;
}

#user_avatar {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 23px;
}

#user_infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#user_infos span:first-child {
    color: #ffffff;
    font-size: 14px;
}

#user_infos span:last-child {
    color: white;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;    
    margin-block-start: 0;
    margin-block-end: 0;
}

.side-item {
    border-radius: 8px;
    padding: 0 12px;
    cursor: pointer;
}

.side-item.active {
    background-color: rgba(85, 118, 140, 0.3);
}

.side-item:hover:not(.active), #logout_btn:hover {
    background-color:  rgba(85, 118, 140, 0.3);;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: flex-start;
    padding: 13px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    gap: 14px;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid rgba(255, 255, 255, 0.44);
    padding: 12px;
    padding-bottom: 30px;
}

#logout_btn {
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    border: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#logout_btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.item-description {
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    transition: all .5s;
    color: rgba(255, 255, 255, 0.84);
}

#sidebar.open-sidebar {
    width: 260px;
}

#sidebar.open-sidebar .item-description {
    width: 100%;
}

#open_btn {
  display: none;
}

@media (max-width: 480px) {
    main {
        margin-left: 20px;
    }

    #sidebar{
        left: -82px;
    }
    
    #open_btn {
    display: block;
    position: absolute;
    top: 50px;
    right: -10px;
    background-color: whitesmoke;
    color: #D1798D;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    }

    #open_btn_icon {
    transition: transform .3s ease;
    }

    .open-sidebar #open_btn_icon {
    transform: rotate(180deg);
    }

    #sidebar.open-sidebar {
        left: 0;
        width: 90%;
    }    
}