<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits toca</title>
    <link rel="stylesheet" href="../../../public/css/listaposts.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=VT323:wght@400&family=Roboto:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <main>
        <div class="cabeçalho">
            <div class="logo">
                <div id="logo">
                    <img src="../../../public/assets/Logo Blog.png" alt="Logo Bits Toca Branca">
                </div>
            </div>
            <div class="titulo">
                <h1>Tabela De Posts</h1>
            </div>
            <div class="espaço"> </div>
        </div>
        <div class="botoes">
            <div class="barra-pesquisa">
                <img src="../../../public/assets/icon_pesquisa.png" alt="icone de pesquisa">
                <input type="text" id="pesquisa" placeholder="Pesquisar...">
            </div>
            <div class="botao-user">
                <p> NOVO POST</p>
                <i class="bi bi-plus-circle"></i>
            </div>
        </div>
        <div class="tabela">
            <table>
                <thead>
                    <tr class="header">
                        <th><p>ID</p></th>
                        <th><p>TÍTULO</p></th>
                        <th><p>AUTOR</p></th>
                        <th class="date"><p>DATA DE CRIAÇÃO</p></th>
                        <th class="action"><p>AÇÕES</p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="items"><p>ID</p></td>
                        <td class="items"><p>TÍTULO</p></td>
                        <td class="items"><p>AUTOR</p></td>
                        <td class="data"><p>dd/mm/yy</p></td>
                        <td class="açoes">
                            <div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-visualizar')">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-editar')">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-delete')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="items"><p>ID</p></td>
                        <td class="items"><p>TÍTULO</p></td>
                        <td class="items"><p>AUTOR</p></td>
                        <td class="data"><p>dd/mm/yy</p></td>
                        <td class="açoes">
                            <div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-visualizar')">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-editar')">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-delete')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="items"><p>ID</p></td>
                        <td class="items"><p>TÍTULO</p></td>
                        <td class="items"><p>AUTOR</p></td>
                        <td class="data"><p>dd/mm/yy</p></td>
                        <td class="açoes">
                            <div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-visualizar')">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-editar')">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-delete')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="items"><p>ID</p></td>
                        <td class="items"><p>TÍTULO</p></td>
                        <td class="items"><p>AUTOR</p></td>
                        <td class="data"><p>dd/mm/yy</p></td>
                        <td class="açoes">
                            <div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-visualizar')">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-editar')">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-delete')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="items"><p>ID</p></td>
                        <td class="items"><p>TÍTULO</p></td>
                        <td class="items"><p>AUTOR</p></td>
                        <td class="data"><p>dd/mm/yy</p></td>
                        <td class="açoes">
                            <div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-visualizar')">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-editar')">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </div>
                                <div class="button-content">
                                    <button class="btn-modal" onclick="abrirModal('modal-delete')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="foot">
                                <div class="button-content">
                                    <button class="botao_foot">
                                        <i class="bi bi-caret-left-fill"></i>
                                    </button>
                                </div>
                                <div>
                                    <p>1</p>
                                </div>
                                <div class="button-content">
                                    <button class="botao_foot">
                                        <i class="bi bi-caret-right-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</body>