<div id="modal-delete" class="modal-overlay" onclick="if(event.target === this) fecharModal('modal-delete')">
    <div class="modalc modal-delete">
        <img src="../../../public/assets/Removedor de fundo (16) 4.png" alt="Delete warning icon"></img>
        <h2>Deletar Usuário?</h2>
        <p>Esta ação não pode ser desfeita. Você tem certeza que deseja deletar permanentemente este usuário?</p>

        <div class="modal-buttons">
            <button class="btn btn-cancel-delete" onclick="fecharModal('modal-delete')">Cancelar</button>
            <form style="display: inline;" fecharModal('modal-delete');">
                <input type="hidden" id="delete-post-id" name="id">
                <button type="submit" class="btn btn-confirm btn-delete">Deletar</button>
            </form>
        </div>
    </div>
</div>