<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="/public/css/sidebar.css">

<nav id="sidebar">
    <div id="sidebar_content">
        <div id="user">
            <img src="/public/<?= htmlspecialchars($_SESSION['user']->AVATAR ?? 'assets/avatars/default.png') ?>" id="user_avatar" alt="Avatar do Usuário" style="object-fit: cover;">
            
            <p id="user_infos">
                <span class="item-description">
                    <?= htmlspecialchars(explode(' ', $_SESSION['user']->NOME)[0]) ?>
                </span>
                <span class="item-description" style="font-size: 0.8rem; opacity: 0.7;">
                    <?= $_SESSION['user']->IS_ADMIN ? 'Administrador' : 'Usuário' ?>
                </span>
            </p>
        </div>

        <ul id="side_items">
            <li class="side-item <?= strpos($_SERVER['REQUEST_URI'], 'dashboard') !== false ? 'active' : '' ?>">
                <a href="/admin/dashboard">
                    <i class="fa-solid fa-grip"></i>
                    <span class="item-description">PAINEL</span>
                </a>
            </li>

            <?php if(isset($_SESSION['user']) && $_SESSION['user']->IS_ADMIN): ?>
            <li class="side-item <?= strpos($_SERVER['REQUEST_URI'], 'listausuarios') !== false ? 'active' : '' ?>">
                <a href="/admin/listausuarios">
                   <i class="fa-solid fa-users"></i>
                    <span class="item-description">USUÁRIOS</span>
                </a>
            </li>    
            <?php endif; ?>

            <li class="side-item <?= strpos($_SERVER['REQUEST_URI'], 'listaposts') !== false ? 'active' : '' ?>">
                <a href="/admin/listaposts">
                   <i class="fa-solid fa-newspaper"></i>
                    <span class="item-description">PUBLICAÇÕES</span>
                </a>
            </li>    

            <li class="side-item">
                <a href="/">
                   <i class="fa-solid fa-house"></i>
                    <span class="item-description">HOME SITE</span>
                </a>
            </li> 
        </ul>

        <button id="open_btn">
            <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
        </button>
    </div>

    <div id="logout">
        <a href="/logout" id="logout_btn" style="text-decoration: none; width: 100%; display: flex; justify-content: center; align-items: center; gap: 10px;">
            <i class="fa-solid fa-right-from-bracket" style="color: white;"></i>
            <span class="item-description">DESLOGAR</span>
        </a>
    </div>
</nav>

<script src="/public/js/sidebar.js"></script>