<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/sidebar.css">
    <title>Sidebar</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
        <div id="user">
            <img src="../../../public/assets/Jotchua Minecraft.jpg" id="user_avatar" alt="avatar">
            <p id="user_infos">
                <span class="item-description">
                    Lorem Ipsum
                </span>
                <span class="item-description">
                is simply dummy text
                </span>
            </p>
        </div>

        <ul id="side_items">
            <li class="side-item">
                <a href="#">
                    <i class="fa-solid fa-grip"></i>
                    <span class="item-description">
                        PAINEL
                    </span>
                </a>
            </li>

            <li class="side-item">
                <a href="#">
                   <i class="fa-solid fa-users"></i>
                    <span class="item-description">
                    USUÁRIOS
                    </span>
                </a>

            </li>    

                    <li class="side-item">
                <a href="#">
                   <i class="fa-solid fa-newspaper"></i>
                    <span class="item-description">
                    PUBLICAÇÔES
                    </span>
                </a>
            </li>    


        </ul>

        <button id="open_btn">
            <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
        </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket" style="color: white;"></i>
                <span class="item-description">DESLOGAR</span>
            </button>
        </div>
    </nav>

    <main>
        <h1>Título</h1>
    </main>
    <script src="../../../public/js/sidebar.js"></script>    
</body>
</html>