<div id="modal-delete-discussion" class="modal-overlay" onclick="if(event.target === this) fecharModal('modal-delete-discussion')">
    <div class="modalc modal-delete">
        <img src="/public/assets/ModalDeletarIMG.png" alt="Delete warning icon">
        <h2>Deletar Discussão?</h2>
        <p>Esta ação não pode ser desfeita. Você tem certeza que deseja deletar esta discussão e todas as suas respostas?</p>

        <div class="modal-buttons">
            <button class="btn btn-cancel-delete" onclick="fecharModal('modal-delete-discussion')">Cancelar</button>
            <form style="display: inline;" action="/forum/discussion/delete" method="POST">
                <input type="hidden" id="delete-discussion-id" name="id" value="">
                <button type="submit" class="btn btn-confirm btn-delete-post">Deletar</button>
            </form>
        </div>
    </div>
</div>