<link rel="stylesheet" href="/public/css/footer.css">
<footer>
    <div class="FooterPrincipal">
        <div class="Redes-Sociais">
            <h2>Redes Sociais</h2>
            <div class="Logos">
                <a href="#"><img src="/public/assets/Instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/public/assets/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/public/assets/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="/public/assets/linkedin.png" alt="Linkedin"></a>
            </div>
        </div>
        <div class="LogoBitsToca">
            <div id="logo-footer"><img src="/public/assets/logobitstoca.png" alt="Logo Bits Toca Branca"></div>
            <div id="missao-footer" hidden>
                <p>Apresentar e analisar jogos independentes, conectando jogadores a novas experiências e clássicos através de conteúdo autêntico e apaixonado.</p>
            </div>
            <div id="valores-footer" hidden>
                <p><strong>Comunidade:</strong> Construção de um espaço acolhedor, inclusivo e respeitoso.</p>
                <p><strong>Paixão:</strong> Amor pela arte e criatividade dos jogos independentes.</p>
                <p><strong>Autenticidade:</strong> Análises e histórias baseadas em experiências reais de jogo.</p>
                <p><strong>Curiosidade:</strong> Incentivo à descoberta de partidas desconhecidas.</p>
            </div>
            <div id="visao-footer" hidden>
                <p>Ser o ponto de encontro preferido da comunidade de jogos indie, reconhecido pela qualidade de suas recomendações e por ser um espaço de troca genuína.</p>
            </div>
        </div>

        <div class="Contato">
            <h2>Contato</h2>
            <p><img src="/public/assets/telefone.png" alt="Telefone">Telefone: (00) 0000-0000</p>
            <p><img src="/public/assets/email.png" alt="Email">Email: contato@bitstoca.com</p>
        </div>
    </div>
    <div class="MVV">
        <a class="MVVBUTTON" id="missao">Missão</a>
        <a class="MVVBUTTON" id="visao">Visão</a>
        <a class="MVVBUTTON" id="valores">Valores</a>
    </div>
</footer>
<script src="/public/js/footer.js"></script>