<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits toca</title>
    <link href="https://fonts.googleapis.com/css2?family=VT323:wght@400&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/footer.css">
</head>

<body>
    <footer>
        <div class="FooterPrincipal">
            <div class="Redes-Sociais">
                <h2>Redes Sociais</h2>
                <div class="Logos">
                    <a href="#"><img src="../../../public/assets/Instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="../../../public/assets/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="../../../public/assets/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="../../../public/assets/linkedin.png" alt="Linkedin"></a>
                </div>
            </div>
            <div class="LogoBitsToca">
                <img src="../../../public/assets/logobitstoca.png" alt="Logo Bits Toca Branca">
            </div>

            <div class="Contato">
                <h2>Contato</h2>
                <p><img src="../../../public/assets/Telefone.png" alt="Telefone">Telefone: (00) 0000-0000</p>
                <p><img src="../../../public/assets/Email.png" alt="Email">Email: contato@bitstoca.com</p>
            </div>
        </div>
        <div class="MVV">
            <a class="MVVBUTTON" id="missao">Missão</a>
            <a class="MVVBUTTON" id="visao">Visão</a>
            <a class="MVVBUTTON" id="valores">Valores</a>
        </div>

    </footer>


</body>

</html>