<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=VT323:wght@400&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/loginpage.css">
</head>

<body>
    <div class="tamanho-body">
        <div class="login-overlay">
            <div class="button">
                <img src="../../../public/assets/Home Button.png" alt="button">
            </div>
            <div class="LogoBitsToca">
                <img src="../../../public/assets/Logo.png" alt="Logo Bits Toca Branca">
            </div>
            <h2>LOGIN</h2>
            <input type="text" id="check" placeholder="Digite seu email">
            <div class="password " id="check">
                <input type="password" id="check-password" placeholder="Digite sua senha">
                <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
            </div>
            <button class="botao-loginpage"> login</button>

        </div>
        <script src="../../../public/js/loginpage.js"></script>
    </div>
</body>

</html>