<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site do Bit's Toca</title>
    <link rel="stylesheet" href="../../../public/css/navbar.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#"><img src="../../../public/assets/logo-site.png" alt="Logo Bit's Toca Clara"></a>
            </div>
            <div class="menu-container">
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="menu">
                    <li class="link"><a href="#">HOME</a></li>
                    <li class="link"><a href="#">PUBLICAÇÕES</a></li>
                    <li class="link"><a href="#">FÓRUM</a></li>
                    <li class="link"><a href="#" class="login"><img src="../../../public/assets/login-FADED2.png" alt="icone de login bege">LOGIN</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>