<!DOCTYPE html>
<html lang="pt-br">

<head>

    <link rel="stylesheet" href="../../../public/css/post_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap"
        rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bit's Toca</title>
</head>

<body>
    <!-- Título da página -->
    <div id="título-pagina-post">
        <h1>PÔSTERES</h1>
        <h1>RECENTES</h1>
    </div>


    <!-- Barra de pesquisa e filtros -->
    <div id="filtro-pesquisa">
        <div id="filtro">
            <button class="botão-filtro" id="filtro-analise">ANÁLISE</button>
            <button class="botão-filtro" id="filtro-review">REVIEW</button>
            <button class="botão-filtro" id="filtro-critica">CRÍTICA</button>
        </div>

        <div id="barra-pesquisa">
            <input type="text">
            <img id="lupa-icon" src="../../../public/assets/استعمليه ماوس💖💖-Photoroom 1.png" alt="">
            <img id="fliperama-icon"src="../../../public/assets/download (3)-Photoroom 1.png" alt="">
        </div>
    </div>

    <!-- Cartões de pôsteres -->
    <div id="posteres">
        <div class="card">
            <div id="heron-section">
                <img src="../../../public/assets/Imagem (1).png" alt="">
            </div>
            <div class="texto-card">
                <h2 id="titulo-card">LOREM IPSUM</h2>
                <p id="texto-card">Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and
                    visual mockups.</p>
            </div>
        </div>

        <div class="card">
            <div id="heron-section">
                <img src="../../../public/assets/Imagem (1).png" alt="">
            </div>
            <div class="texto-card">
                <h2 id="titulo-card">LOREM IPSUM</h2>
                <p id="texto-card">Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and
                    visual mockups.</p>
            </div>
        </div>

        <div class="card">
            <div id="heron-section">
                <img src="../../../public/assets/Imagem (1).png" alt="">
            </div>
            <div class="texto-card">
                <h2 id="titulo-card">LOREM IPSUM</h2>
                <p id="texto-card">Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and
                    visual mockups.</p>
            </div>
        </div>

        <div class="card">
            <div id="heron-section">
                <img src="../../../public/assets/Imagem (1).png" alt="">
            </div>
            <div class="texto-card">
                <h2 id="titulo-card">LOREM IPSUM</h2>
                <p id="texto-card">Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and
                    visual mockups.</p>
            </div>
        </div>

            <div class="card">
            <div id="heron-section">
                <img src="../../../public/assets/Imagem (1).png" alt="">
            </div>
            <div class="texto-card">
                <h2 id="titulo-card">LOREM IPSUM</h2>
                <p id="texto-card">Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and
                    visual mockups.</p>
            </div>
        </div>

            <div class="card">
            <div id="heron-section">
                <img src="../../../public/assets/Imagem (1).png" alt="">
            </div>
            <div class="texto-card">
                <h2 id="titulo-card">LOREM IPSUM</h2>
                <p id="texto-card">Lorem ipsum is placeholder text commonly used in the graphic,
                    print, and publishing industries for previewing layouts and
                    visual mockups.</p>
            </div>
        </div>
    </div>

    <!-- Paginação -->
    <div id="paginação">
        <button class="botão-paginacao"><img src="../../../public/assets/arrow_back.png" alt=""></button>
        <button class="botão-paginacao" id="atual">1</button>
        <button class="botão-paginacao"><img src="../../../public/assets/arrow_back (1).png" alt=""></button>
    </div>

</body>

</html>